@import url('https://fonts.googleapis.com/css?family=Baloo+Da');
@import url('https://fonts.googleapis.com/css?family=Dosis');

.container {
  background-color: #002432;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.menu_icon_container {
  margin-top: 2.5em;
  padding-left: 93vw;
}

.menu_icon {
  width: 3em;
  height: 2em;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: 'Dosis';
  color: #FF5F53;
}

.my_name {
  margin-top: 25vh;
  margin-bottom: 10vh;
  padding-left: 7vw;
  font-size: 4.5em;
}

.short_desc {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0.5em;
  padding-left: 7vw;
  font-size: 1.5em;
}

.see_works_container {
  margin-top: 5em;
  padding-left: 7vw;
}

.see_works_button {
  width: fit-content;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: 0;
  border-radius: 0%;
  background-color: #FF5F53;
  color: #002432;
  font-size: 1.5em;
}

.see_works_button:hover {
  background-color: #FFDBDB;
  cursor: pointer;
}

.page_title {
  font-size: 4.5em;
  padding-left: 7vw;
  margin-bottom: 0.3em;
}

.download_cv_inst {
  margin-top: 10vh;
  font-size: 1.5em;
  text-align: center;
}

.download_cv_button_container {
  display: flex;
  justify-content: center;
}

.table {
  margin-left: 6.1vw;
}

.contact_rows {
  height: 4.7em;
}

.contact_details {
  font-size: 1.5em;
}

.contact_icons_col {
  width: 4.5%;
  text-align: center;
}

.contact_icons {
  width: 2.5em;
}

.clickable_contact:hover {
  color: #FFDBDB;
}

.work_button_container {
  padding-left: 7vw;
}

.active_work_button {
  width: fit-content;
  margin-right: 0.1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 0;
  border-radius: 0%;
  background-color: #FF5F53;
  color: #002432;
  font-size: 1.5em;
  cursor: pointer;
}

.active_work_button:focus {
  outline: 0;
}

.passive_work_button {
  width: fit-content;
  margin-right: 0.1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 0;
  border-radius: 0%;
  background-color: #002432;
  color: #FF5F53;
  font-size: 1.5em;
  cursor: pointer;
}

.passive_work_button:hover {
  box-shadow:inset 0 0 0 0.1em #FFDBDB;
}

.work_desc_outline {
  width: 84vw;
  box-shadow:inset 0 0 0 0.5em #FF5F53;
  margin-bottom: 3em;
  padding: 3em;
}

.work_desc {
  font-size: 1.5em;
  text-align: justify;
}

.highlight {
  color: #FFDBDB;
}

.parent_jobs_image {
  display: flex;
  flex-wrap: wrap;
}

.work_jobs {
  flex: 0 0 60%;
  padding-top: 1em;
  padding-right: 1em;
}

.work_image_container {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work_image {
  max-width: 80%;
}

.watch_demo_button {
  width: fit-content;
  margin-right: 0.1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 0;
  border-radius: 0%;
  background-color: #002432;
  color: #FF5F53;
  font-size: 1.5em;
  cursor: pointer;
  margin-top: 0.5em;
  box-shadow:inset 0 0 0 0.2em #FF5F53;
}

.watch_demo_button:hover {
  background-color: #FFDBDB;
}

.jobs_calorie {
  margin-top: 1em;
}

.calorie_images_container {
  width: 75%;
}

@media only screen and (max-width: 768px) {
  .text {
    font-size: 1em;
  }

  .my_name {
    font-size: 3em;
  }

  .page_title {
    font-size: 3em;
    padding-left: 7vw;
    margin-bottom: 0.2em;
  }

  .work_desc_outline {
    padding: 1em;
  }

  .parent_jobs_image {
    display: block;
  }

  .work_jobs {
    width: 80vw;
  }

  .work_image_container {
    margin-top: 1.7em;
    width: 80vw;
  }

}

.ul {
  margin: 0;
}